#ide
/.idea

#source
/node_modules

#project
.env
#*.js
#**.js

#client
/client/**/*.js
#/client/config/*

#core
/core/**/*.js
#/core/config/*

#server
/server/**/*.js
#/server/config/*

#sandbox
/sandbox/**/*.js

#Данные создаваемые серверов.
#/data