.icon_Adventure01:before {
    background-image: url('/images/icons/black/Adventure01.png');
}
.icon_Ares01:before {
    background-image: url('/images/icons/black/Ares01.png');
}
.icon_Bear01:before {
    background-image: url('/images/icons/black/Bear01.png');
}
.icon_BearPawPrint01:before {
    background-image: url('/images/icons/black/BearPawPrint01.png');
}
.icon_Boar01:before {
    background-image: url('/images/icons/black/Boar01.png');
}
.icon_Board01:before {
    background-image: url('/images/icons/black/Board01.png');
}
.icon_Bow01:before {
    background-image: url('/images/icons/black/Bow01.png');
}
.icon_Brain01:before {
    background-image: url('/images/icons/black/Brain01.png');
}
.icon_Coins01:before {
    background-image: url('/images/icons/black/Coins01.png');
}
.icon_CowboyHat01:before {
    background-image: url('/images/icons/black/CowboyHat01.png');
}
.icon_Dagger01:before {
    background-image: url('/images/icons/black/Dagger01.png');
}
.icon_Fabric01:before {
    background-image: url('/images/icons/black/Fabric01.png');
}
.icon_Fire01:before {
    background-image: url('/images/icons/black/Fire01.png');
}
.icon_Fist01:before {
    background-image: url('/images/icons/black/Fist01.png');
}
.icon_Flash01:before {
    background-image: url('/images/icons/black/Flash01.png');
}
.icon_Flower01:before {
    background-image: url('/images/icons/black/Flower01.png');
}
.icon_Helmet01:before {
    background-image: url('/images/icons/black/Helmet01.png');
}
.icon_Ingot01:before {
    background-image: url('/images/icons/black/Ingot01.png');
}
.icon_Leather01:before {
    background-image: url('/images/icons/black/Leather01.png');
}
.icon_Leather02:before {
    background-image: url('/images/icons/black/Leather02.png');
}
.icon_Leather03:before {
    background-image: url('/images/icons/black/Leather03.png');
}
.icon_MageHat01:before {
    background-image: url('/images/icons/black/MageHat01.png');
}
.icon_Monster01:before {
    background-image: url('/images/icons/black/Monster01.png');
}
.icon_Monster02:before {
    background-image: url('/images/icons/black/Monster02.png');
}
.icon_Ore01:before {
    background-image: url('/images/icons/black/Ore01.png');
}
.icon_Plant01:before {
    background-image: url('/images/icons/black/Plant01.png');
}
.icon_Plus01:before {
    background-image: url('/images/icons/black/Plus01.png');
}
.icon_Question01:before {
    background-image: url('/images/icons/black/Question01.png');
}
.icon_Question02:before {
    background-image: url('/images/icons/black/Question02.png');
}
.icon_Question03:before {
    background-image: url('/images/icons/black/Question03.png');
}
.icon_Question04:before {
    background-image: url('/images/icons/black/Question04.png');
}
.icon_Shield01:before {
    background-image: url('/images/icons/black/Shield01.png');
}
.icon_Sword01:before {
    background-image: url('/images/icons/black/Sword01.png');
}
.icon_Sword02:before {
    background-image: url('/images/icons/black/Sword02.png');
}
.icon_Sword03:before {
    background-image: url('/images/icons/black/Sword03.png');
}
.icon_Sword04:before {
    background-image: url('/images/icons/black/Sword04.png');
}
.icon_Sword05:before {
    background-image: url('/images/icons/black/Sword05.png');
}
.icon_Sword06:before {
    background-image: url('/images/icons/black/Sword06.png');
}
.icon_Sword07:before {
    background-image: url('/images/icons/black/Sword07.png');
}
.icon_Sword08:before {
    background-image: url('/images/icons/black/Sword08.png');
}
.icon_Sword09:before {
    background-image: url('/images/icons/black/Sword09.png');
}
.icon_Sword10:before {
    background-image: url('/images/icons/black/Sword10.png');
}
.icon_Sword11:before {
    background-image: url('/images/icons/black/Sword11.png');
}
.icon_Target01:before {
    background-image: url('/images/icons/black/Target01.png');
}
.icon_Target02:before {
    background-image: url('/images/icons/black/Target02.png');
}
.icon_Thread01:before {
    background-image: url('/images/icons/black/Thread01.png');
}
.icon_Warrior01:before {
    background-image: url('/images/icons/black/Warrior01.png');
}
.icon_Wood01:before {
    background-image: url('/images/icons/black/Wood01.png');
}
.icon_Brewery01:before {
    background-image: url('/images/icons/black/Brewery01.png');
}
.icon_Brickwall01:before {
    background-image: url('/images/icons/black/Brickwall01.png');
}
.icon_Chest01:before {
    background-image: url('/images/icons/black/Chest01.png');
}
.icon_Dungeon01:before {
    background-image: url('/images/icons/black/Dungeon01.png');
}
.icon_Farming01:before {
    background-image: url('/images/icons/black/Farming01.png');
}
.icon_Growth01:before {
    background-image: url('/images/icons/black/Growth01.png');
}
.icon_Home01:before {
    background-image: url('/images/icons/black/Home01.png');
}
.icon_Knight01:before {
    background-image: url('/images/icons/black/Knight01.png');
}
.icon_MagicWand01:before {
    background-image: url('/images/icons/black/MagicWand01.png');
}
.icon_Production01:before {
    background-image: url('/images/icons/black/Production01.png');
}
.icon_TwoSword01:before {
    background-image: url('/images/icons/black/TwoSword01.png');
}
.icon_Location01:before {
    background-image: url('/images/icons/black/Location01.png');
}
.icon_Research01:before {
    background-image: url('/images/icons/black/Research01.png');
}
.icon_Mail01:before {
    background-image: url('/images/icons/black/Mail01.png');
}
.icon_Notification01:before {
    background-image: url('/images/icons/black/Notification01.png');
}
.icon_Coins02:before {
    background-image: url('/images/icons/black/Coins02.png');
}
.icon_Stars01:before {
    background-image: url('/images/icons/black/Stars01.png');
}