.icon_BackgroundSlot01:before {
    background-image: url('/images/icons/BackgroundSlot01.png');
    top: 0;
    left: 0;
    background-size: 100%;
}

.icon_BackgroundSlot02:before {
    background-image: url('/images/icons/BackgroundSlot02.png');
    top: 0;
    left: 0;
    background-size: 100%;
}

.icon_Adventure01:before {
    background-image: url('/images/icons/white/Adventure01.png');
}
.icon_Ares01:before {
    background-image: url('/images/icons/white/Ares01.png');
}
.icon_Bear01:before {
    background-image: url('/images/icons/white/Bear01.png');
}
.icon_BearPawPrint01:before {
    background-image: url('/images/icons/white/BearPawPrint01.png');
}
.icon_Boar01:before {
    background-image: url('/images/icons/white/Boar01.png');
}
.icon_Board01:before {
    background-image: url('/images/icons/white/Board01.png');
}
.icon_Bow01:before {
    background-image: url('/images/icons/white/Bow01.png');
}
.icon_Brain01:before {
    background-image: url('/images/icons/white/Brain01.png');
}
.icon_Coins01:before {
    background-image: url('/images/icons/white/Coins01.png');
}
.icon_CowboyHat01:before {
    background-image: url('/images/icons/white/CowboyHat01.png');
}
.icon_Dagger01:before {
    background-image: url('/images/icons/white/Dagger01.png');
}
.icon_Fabric01:before {
    background-image: url('/images/icons/white/Fabric01.png');
}
.icon_Fire01:before {
    background-image: url('/images/icons/white/Fire01.png');
}
.icon_Fist01:before {
    background-image: url('/images/icons/white/Fist01.png');
}
.icon_Flash01:before {
    background-image: url('/images/icons/white/Flash01.png');
}
.icon_Flower01:before {
    background-image: url('/images/icons/white/Flower01.png');
}
.icon_Helmet01:before {
    background-image: url('/images/icons/white/Helmet01.png');
}
.icon_Ingot01:before {
    background-image: url('/images/icons/white/Ingot01.png');
}
.icon_Leather01:before {
    background-image: url('/images/icons/white/Leather01.png');
}
.icon_Leather02:before {
    background-image: url('/images/icons/white/Leather02.png');
}
.icon_Leather03:before {
    background-image: url('/images/icons/white/Leather03.png');
}
.icon_MageHat01:before {
    background-image: url('/images/icons/white/MageHat01.png');
}
.icon_Monster01:before {
    background-image: url('/images/icons/white/Monster01.png');
}
.icon_Monster02:before {
    background-image: url('/images/icons/white/Monster02.png');
}
.icon_Ore01:before {
    background-image: url('/images/icons/white/Ore01.png');
}
.icon_Plant01:before {
    background-image: url('/images/icons/white/Plant01.png');
}
.icon_Plus01:before {
    background-image: url('/images/icons/white/Plus01.png');
}
.icon_Question01:before {
    background-image: url('/images/icons/white/Question01.png');
}
.icon_Question02:before {
    background-image: url('/images/icons/white/Question02.png');
}
.icon_Question03:before {
    background-image: url('/images/icons/white/Question03.png');
}
.icon_Question04:before {
    background-image: url('/images/icons/white/Question04.png');
}
.icon_Shield01:before {
    background-image: url('/images/icons/white/Shield01.png');
}
.icon_Sword01:before {
    background-image: url('/images/icons/white/Sword01.png');
}
.icon_Sword02:before {
    background-image: url('/images/icons/white/Sword02.png');
}
.icon_Sword03:before {
    background-image: url('/images/icons/white/Sword03.png');
}
.icon_Sword04:before {
    background-image: url('/images/icons/white/Sword04.png');
}
.icon_Sword05:before {
    background-image: url('/images/icons/white/Sword05.png');
}
.icon_Sword06:before {
    background-image: url('/images/icons/white/Sword06.png');
}
.icon_Sword07:before {
    background-image: url('/images/icons/white/Sword07.png');
}
.icon_Sword08:before {
    background-image: url('/images/icons/white/Sword08.png');
}
.icon_Sword09:before {
    background-image: url('/images/icons/white/Sword09.png');
}
.icon_Sword10:before {
    background-image: url('/images/icons/white/Sword10.png');
}
.icon_Sword11:before {
    background-image: url('/images/icons/white/Sword11.png');
}
.icon_Target01:before {
    background-image: url('/images/icons/white/Target01.png');
}
.icon_Target02:before {
    background-image: url('/images/icons/white/Target02.png');
}
.icon_Thread01:before {
    background-image: url('/images/icons/white/Thread01.png');
}
.icon_Warrior01:before {
    background-image: url('/images/icons/white/Warrior01.png');
}
.icon_Wood01:before {
    background-image: url('/images/icons/white/Wood01.png');
}

.icon_Amulet01:before {
    background-image: url('/images/icons/white/Amulet01.png');
}
.icon_Belt01:before {
    background-image: url('/images/icons/white/Belt01.png');
}
.icon_Boot01:before {
    background-image: url('/images/icons/white/Boot01.png');
}
.icon_Bracelet01:before {
    background-image: url('/images/icons/white/Bracelet01.png');
}
.icon_Breastplate01:before {
    background-image: url('/images/icons/white/Breastplate01.png');
}
.icon_Gloves01:before {
    background-image: url('/images/icons/white/Gloves01.png');
}
.icon_Gloves02:before {
    background-image: url('/images/icons/white/Gloves02.png');
}
.icon_Pants01:before {
    background-image: url('/images/icons/white/Pants01.png');
}
.icon_Ring01:before {
    background-image: url('/images/icons/white/Ring01.png');
}
.icon_ShoulderPads01:before {
    background-image: url('/images/icons/white/ShoulderPads01.png');
}
.icon_Trinket01:before {
    background-image: url('/images/icons/white/Trinket01.png');
}