/*html,*/
/*body,*/
/*div*/
/*{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

* {
    padding: 0;
    margin: 0;
}

.basic-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
}

.basic-table th {
    text-align: left;
}

.basic-table th,
.basic-table td {
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 4px 8px;
}

.basic-table__full-width {
    width: 100%;
}

.block {
    /*padding: 15px;*/
    margin-bottom: 15px;
}

.block__title {
    margin-bottom: 5px;
}

.block__content {

}

.debug {

}

.debug_hide {
    display: none;
}

/*GameConsole*/
.game-console {

}

.game-console__input {
    width: 500px;
    height: 24px;
}

.list-without-types {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.game-console-autocomplete-list__selected {
    text-decoration: underline;
}

.hide {
    display: none;
}

.clearfix {
    clear: both;
}

/*ItemStorage для игрока*/
.player-item-storage-slot-row {
    position: relative;
}

.player-item-storage-slot {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 1px;

    background: orange; /*цвет для технических целей*/
    /*background: orangered;*/

    /*float: left;*/
    vertical-align: top;
}

.player-item-storage-slot_icon {
    /*background-image: url("/images/icons/bordered/64x64/question01.png");*/
    background-repeat: no-repeat;
    background-size: 50px;
}

.player-item-storage-slot_clear {

}

/*debug*/
.clear-bg-image {

}