.game-console {

}

.game-console_bottom {
    /*position: absolute;*/
    position: fixed;
    z-index: 1000;
    bottom: 15px;
    left: 235px;    /* sidebar.width + 15px padding */
}

.game-console__input {
    width: 500px;
    height: 24px;
}

.list-without-types {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.game-console-autocomplete-list__selected {
    text-decoration: underline;
}

.game-console-autocomplete-list-wrapper {
    background: white;
    /*padding: 10px;*/
    border: 1px solid #ddd;
}